@{
    ViewData["Title"] = "Home Page";
}
@model List<FirmaTakip.Entities.Company>
<div class="float-right"><a class="btn btn-info mb-2" asp-action="createcompany">Firma Ekle</a></div>
<div class="text-center">
    <table class="table table-sm table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Firma Adı</th>
                <th scope="col">Ülke</th>
                <th scope="col">Şehir</th>
                <th scope="col">İlçe</th>
                <th scope="col">Adres</th>
                <th scope="col">Telefon</th>
                <th scope="col">Teklif</th>
                <th scope="col">Son Kontrol</th>
                <th scope="col">Kontrol</th>
                <th scope="col">Borcu</th>
                <th scope="col">İş Durumu</th>
                <th scope="col">Sektör</th>
                <th scope="col">İşlem</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <th scope="row">@item.CompanyId</th>
                <td>@item.CompanyName</td>
                <td>@item.CompanyCountry</td>
                <td>@item.CompanyCity</td>
                <td>@item.CompanyTown </td>
                <td>@item.CompanyAddress</td>
                <td>@item.PhoneNumber</td>
                <td>

                    @if (@item.IsOffer)
                    {
                        <p class="text-success">Verildi</p>
                    }
                    else
                    {
                        <p class="text-danger">Verilmedi</p>

                    }
                </td>
                <td>
                    @item.LastControlDate.ToString("MM/dd/yyyy")

                </td>
                <td>

                    @if (@item.WillControl)
                    {
                        <p class="text-success">Edildi</p>
                    }
                    else
                    {
                        <p class="text-danger">Edilecek</p>
                    }


                </td>
                <td>@item.DebtAmount.ToString("C2")</td>
                <td>

                    @if (@item.ActiveOrNot)
                    {
                        <p class="text-success">Devam</p>
                    }
                    else
                    {
                        <p class="text-danger">Sonlandı</p>

                    }


                </td>
                <td><getCategoryName company-id="@item.CompanyId"></getCategoryName> @item.CompanyCategories </td>
                <td>
                    <a class="btn btn-info btn-sm text-white" asp-action="companydetails" asp-route-id="@item.CompanyId"><i class="fas fa-search"></i></a>
                    <a class="btn btn-warning btn-sm" asp-action="update" asp-route-id="@item.CompanyId"><i class="fas fa-edit"></i></a>
                    <a asp-action="deleteCompany" asp-route-id="@item.CompanyId" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></a>
                </td>


            </tr>
            }
        </tbody>

    </table>
</div>
