@model NoteModel
<form method="POST" class="my-3" asp-action="create">
    <div class="row">
        <div class="col">
            <input type="hidden" asp-for="@Model.Date"/>
            <div class="form-group">
                <label for="Name">Konu</label>
                <span asp-validation-for="@Model.Subject"></span>
                <input asp-for="@Model.Subject" class="form-control" type="text">

            </div>
            <div class="form-group">
                <label for="Name">İçerik</label>
                <span asp-validation-for="@Model.Content"></span>
                <input asp-for="@Model.Content" class="form-control" type="text">

            </div>
        </div>
    </div>

    <button class="btn btn-info" type="submit">Add</button>

</form>